apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-timetable
  labels:
    app: app
    type: timetable
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
      type: timetable
  template:
    metadata:
      labels:
        app: app
        type: timetable
    spec:
      containers:
      - name: app-timetable
        image: teinerhd/timetable-server:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: app-timetable-service
spec:
  selector:
    name: app-timetable
  ports:
    - protocol: TCP
      nodePort: 30135
      port: 80
      targetPort: 80
  type: NodePort