apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-timetable
  labels:
    app: app-timetable
    type: timetable
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-timetable
      type: timetable
  template:
    metadata:
      labels:
        app: app-timetable
        type: timetable
    spec:
      containers:
      - name: app-timetable
        image: teinerhd/timetable-server:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: app-timetable-service
spec:
  selector:
    app: app-timetable
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
