apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-deployment
  labels:
    app: haproxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: haproxy
  template:
    metadata:
      labels:
        app: haproxy
    spec:
      containers:
      - name: haproxy
        image: haproxy:lts
        ports:
        - containerPort: 8080
        - containerPort: 8443
        volumeMounts:
        - mountPath: /usr/local/etc/haproxy
          name: haproxycfg
      volumes:
      - name: haproxycfg
        configMap:
          name: haproxy-configmap
      
---
apiVersion: v1
kind: Service
metadata:
  name: haproxy-service
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: haproxy
  ports:
    - name: http-ha
      protocol: TCP
      nodePort: 31080
      port: 8080
      targetPort: 8080
    - name: https-ha
      protocol: TCP
      nodePort: 31443
      port: 8443
      targetPort: 8443

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-configmap
data:
  haproxy.cfg: |
    # Your HAProxy configuration here
    global
      log /dev/log local0
      log /dev/log local1 notice
      # chroot /var/lib/haproxy
      user haproxy
      group haproxy
      daemon
    defaults
      log global
      mode http
      option httplog
      option dontlognull
      timeout connect 5000
      timeout client 50000
      timeout server 50000
    frontend moodle-https-fe
      bind *:8443
      default_backend moodle-https-be
    backend moodle-https-be
      server svc-moodle-demo moodle-demo.default.svc.cluster.local:30443